<!DOCTYPE HTML>
<html>
	<head>
		<title>Edit Profile</title>
	</head>

	<body>
		<form action="edit" method="post">
      Change E-Mail:<br>
      New Email:<input type="text" name="new_email"<br>
			Change password:<br>
      New password:<input type="password" name="new_password"><br>
			Please enter your old password to confirm:<br>
			Old password:<input type="password" name="password"><br>
			<input type="submit" value="Save Changes" name="submit"><br>
			<a href="\profile">NOOO!!! I don't want to change something! :(</a>
		</form>
	</body>
</html>
