<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        Oooops. You made something wrong. <br>
         <a href="\editprofile">Try again</a><br>
         <a href="\profile">Whatever. I'm done with this shit</a>
    </body>
</html>
