<!DOCTYPE HTML>
<html>
	<head>
		<title>Edit Profile</title>
		<link rel="stylesheet" type="text/css" href="main2.css">
	</head>

	<body>
	<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="Search..">
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">	
							<li><a href="homepage2">Home</a></li>						
							<li><a href="shop">Shop</a></li>						
							<li><a href="profile">My Profile</a></li>
							<li><a href="cart.html">Your Cart</a></li>
							<li><a href="checkout.html">Checkout</a></li>					
							<li><a href="login">Login</a></li>		
						</ul>
					</div>
				</div>
			</div>
		</div> <br>
		<div class="bg">
		<div class="text">
		<form action="edit" method="post">
      Change E-Mail:<br>
      New Email:<input type="text" name="new_email"<br>
			Change password:<br>
      New password:<input type="password" name="new_password"><br>
			Please enter your old password to confirm:<br>
			Old password:<input type="password" name="password"><br>
			<input type="submit" value="Save Changes" name="submit"><br>
			<a href="\profile">NOOO!!! I don't want to change something! :(</a>
		</form> 
		</div> </div>
		</form>
	</body>
</html>
