<html>
    <head>
        <title>Error</title>
		<link rel="stylesheet" type="text/css" href="main2.css">
    </head>
	<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="Search..">
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">	
							<li><a href="homepage2">Home</a></li>						
							<li><a href="shop">Shop</a></li>						
							<li><a href="profile">My Profile</a></li>
							<li><a href="cart.html">Your Cart</a></li>
							<li><a href="checkout.html">Checkout</a></li>					
							<li><a href="login">Login</a></li>		
						</ul>
					</div>
				</div>
			</div>
		</div><br>
		<div class="text">
        Error: Login failed<br>
         <a href="/login">Try again</a>
		 </div>
    </body>
</html>
