<html>
    <head>
        <title>Tunaverse</title>
		<link rel="stylesheet" type="text/css" href="main2.css">
    </head>
    <body>
	
	<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="Search..">
					</form>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">		
							<li><a href="homepage2">Home</a></li>						
							<li><a href="shop">Shop</a></li>						
							<li><a href="profile">My Profile</a></li>
							<li><a href="cart.html">Your Cart</a></li>
							<li><a href="checkout.html">Checkout</a></li>					
							<li><a href="login">Login</a></li>		
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="bg">
		<div class="text">
		<section  class="homepage-slider">
							<img id="pos" src="images/banner-1.png" alt="" />
			</section>
			<a class="button-link" href="signup">Register</a>
			

		<br><br><br><br><br><br><br><br><br><br> <br> <br> <br> <br><br> <br>
		ABOUT <br> <br>
		<button class="scroll-down" onclick="scrollWin()" style="position:relative;"> </button> <br> <br> <br><br> <br><br> <br><br>
		This is a Website about buying, collecting and potentially breeding fish with webcurrency!
		You can buy fish and show them off to your friends!<br>
		</div> </div> </div>
		
	<script>
		function scrollWin() {
		window.scrollBy(0, 200);
		}
	</script>
    </body>
</html>