<html>
    <head>
        <title>My Profile</title>
    </head>
    <body>
        Welcome <%= user%>!<br>
        Email: <%= email%><br>
        You have <%= money%> Fisholeons.<br>
        <a href="\editprofile">Edit Profile</a>
        <a href="\logout">Logout</a>
    </body>
</html>
